ULTRA_START_SONGS_DIR_PATH1=/path/to/songs
ULTRA_START_SONGS_DIR_PATH2=/path/to/download_work/
PLAYLIST_CACHE_DIR_PATH=playlistCaches/
IS_DEFAULT_PAGE_THEME_MODE_DARK=false
ULTRA_STAR_COMPANION_PORT=3001
LOG_LEVEL=DBEUG
DOWNLOAD_SONGS_DIR=download_work
REQUIRED_WAIT_TIME_FOR_SONG_DOWNLOAD=30
DOWNLOAD_PREFERRED_VIDEO_HEIGHT=720
DOWNLOAD_PREFERRED_VIDEO_FORMAT=mp4
DOWNLOAD_CONVERT_AUDIO_FORMAT=mp3
ALL_SONGS_BY_ARTIST_PAGE=https://usdb.animux.de/index.php?link=byartist
DOWNLOAD_USE_HEADLESS_MODE=true