# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
playlistCaches/

# Node dependencies
node_modules

download_work
all_online_songs_index.json

# Logs
logs
*.log
*.afphoto

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
